<!DOCTYPE html>
<html lang="en">
    <head>
           <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
            <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
    <!-- Css lokal-->
    <link href="/styles/stylesGame.css" rel="stylesheet" />

        <title>
            Gunting batu kertas
        </title>
    </head>
    <body>
        <div id="bgpage">
            <div>
                <form action="/" method="GET">
                <button  style="color:white; text-decoration:none"><h5> <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                    <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
                  </svg> Back to main menu</h5></button>
                </form>
            </div>
            <div class="container my-auto w-75 h-75 text-center my-auto">
                <div class="row h-100">
                    <div class="col-md-4">
                        <div class="row h-25" >
                            <div class="col"><h1>Player</h1></div>
                        </div>
                        <div class="row h-25">
                            <div class="col"><button onclick="playerChoose(`batu`)" name="playerbtn"><img class="ms-5"src="assets/batu.png" id="icon-game" name="playerimg"/></button></div>
                        </div>
                        <div class="row h-25">
                            <div class="col"><button onclick="playerChoose(`kertas`)" name="playerbtn"><img class="ms-5"src="assets/kertas.png" id="icon-game" name="playerimg"/></button></div>
                        </div>
                        <div class="row h-25">
                            <div class="col"><button onclick="playerChoose(`gunting`)" name="playerbtn"><img class="ms-5"src="assets/gunting.png" id="icon-game" name="playerimg"/></button></div>
                        </div>
                    </div>
                    <div class="col-md-4 align-self-center">
                        <h1 id="status">VS</h1>      
                    </div>
                    <div class="col-md-4">
                        <div class="row h-25">
                            <div class="col"><h1>Computer</h1></div>
                        </div>
                        <div class="row h-25">
                            <div class="col"><img class="ms-5"src="assets/batu.png" id="icon-game" name="compbtn"/></div>
                        </div>
                        <div class="row h-25">
                            <div class="col"><img class="ms-5"src="assets/kertas.png" id="icon-game" name="compbtn"/></div>
                        </div>
                        <div class="row h-25">
                            <div class="col"><img class="ms-5"src="assets/gunting.png" id="icon-game" name="compbtn"/></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img class="ms-5"src="assets/refresh.png" id="icon-refresh" onclick="resetButton()"/>
                    </div>
                </div>
            </div>
        </div>
    </body>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="/scripts/myScriptGame.js"></script>

</html>