  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Css lokal-->
    <link href="/styles/styles.css" rel="stylesheet" />
    <!-- css googleapis font-->
    <link
      href="https://fonts.googleapis.com/css?family=Open Sans"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Bebas Neue"
      rel="stylesheet"
    />
    <title>Desa Enoki</title>
  </head>
  <body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container-fluid d-flex bd-highlight">
        <a class="navbar-brand fw-bold ms-5 w-25" href="#"
          ><img class="ms-5"src="/assets/logo.png" id="logo" />
        </a>
        <button
          class="navbar-toggler"e
          type="button"e
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav me-auto mb-2 mb-lg-0">
            <div class="nav-item mx-2">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </div>
            <div class="nav-item mx-2">
              <a class="nav-link" href="#">Work</a>
            </div>
            <div class="nav-item mx-2">
              <a class="nav-link" href="#">Contact</a>
            </div>
            <div class="nav-item mx-2">
              <a class="nav-link" href="#">About Me</a>
            </div>
          </div>
          <div class="navbar-nav me-2 mb-lg-0">
            <div class="d-flex">
              <!-- <a class="nav-link me-2" href="#"> Sign up</a> -->
              <form action="/register" method="GET">
              <button type="submit" class="btn-link nav-link me-2">Register</button>
              </form>
            </div>
            <div class="d-flex">
              <!-- <a class="nav-link me-2" href="#"> Login</a> -->
              <form action="/login" method="GET">
                <button type="submit" class="btn-link nav-link me-2">Login</button>
              </form>
            
            </div>
          </div>
        </div>
      </div>
    </nav>
<!--slicing 1-->
    <!-- bg image-->
    <div id="bgimage" class="bg-image shadow-2-strong" style="background-image: url('/assets/bg1.jpg')">
      <!-- <div class="container d-flex align-items-center justify-content-center text-center h-100">
        <div class="text-white">
          <h1 class="mb-4">Play Desa Enoki</h1>
          <h4 class="mb-5">Explore the world of fantasy</h4>
          <a id="main-button" class="btn btn-outline-light btn-lg m-2"href=""role="button"rel="nofollow"target="_blank">Play Now</a>
          <div class="mt-auto p-2 bd-highlight  align-self-end">testing1</div>
        </div>
        <div class="mt-auto p-2 bd-highlight   align-self-end">testing2</div>
      </div>
      <div class="mt-auto p-2 bd-highlight   align-self-end">testing3</div>
    </div> -->

    <div class="container d-flex align-items-center flex-column justify-content-center text-center h-100">
      <div class="align-self-center my-auto">
        <div class="text-white">
          <h1 class="mb-4">Play Desa Enoki</h1>
          <h4 class="mb-5">Explore the world of fantasy</h4>
          <form action="/game" method="GET">
          <button id="main-button" class="btn btn-outline-light btn-lg m-2" style="width:20vw;"> Play Now</button>
          </form>
        </div>
      </div>
      <div class="p-2 bd-highlight" style="background-color:rgba(0,0,0,0.5)"><a href="" style="color:white; text-decoration:none"><h5>The Story</h5></a></div>
    </div>
  </div>



<!--slicing 2-->
    <!--bg image-->
    <div
      id="bgimage"
      class="bg-image shadow-2-strong"
      style="background-image: url('/assets/bg2.jpg')"
    >

      <div class="container d-flex align-items-center flex-column justify-content-center text-center h-100">
          <div class="align-self-center my-auto">
            <div class="row justify-content-start text-white">
              <div class="col-12 text-start">
                <div class="sub-text">What's so special?</div>
              </div>
            <div class="row justify-content-start">
              <div class="col-4 text-start" style="font-size:50px;font-weight:bold;text-transform: uppercase;">
                THE GAMES
              </div>
              <div class="col-8 align-self-start">
                <div class="slideshow-container" style="width: 40vw">

                  <!-- Full-width images with number and caption text -->
                  <div class="mySlides">
                    <img src="/assets/carousel1.jpg" style="width:100%">
                  </div>
                
                  <div class="mySlides">
                    <img src="/assets/carousel2.jpg" style="width:100%">
                  </div>
                
                  <div class="mySlides">
                    <img src="/assets/carousel3.jpg" style="width:100%">
                  </div>
                
                  <!-- Next and previous buttons -->
                  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                  <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <br>
                
                <!-- The dots/circles -->
                <div style="text-align:center">
                  <span class="dot" onclick="currentSlide(1)"></span>
                  <span class="dot" onclick="currentSlide(2)"></span>
                  <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>


<!--slicing 3-->
   <!--bg image-->
    <div
      id="bgimage"
      class="bg-image shadow-2-strong"
      style="background-image: url('/assets/bg3.jpg')"
    >
    <div class="container d-flex align-items-center flex-column justify-content-center text-left h-100">
      <div class="align-self-center my-auto w-75 h-75">
        <div class="row">
          <div class="col-md-6 offset-md-6" style="color:white;" >
            <div class="mt-5 sub-text">
            What's so special?
            </div>
            <div class="mb-5"style="font-size:40px;text-transform: uppercase;">
              Features
            </div>
            <!--accordion goes here-->
              <div class="accordion accordion-flush">
                <div class="accordion-item" id="testertransparent">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" id="testertransparent" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      <span class="dot me-3"></span>Explore the World
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                    A Colorful fantasy world full of dream-like creatures
                    </div>
                  </div>
                </div>
                <div class="accordion-item" id="testertransparent">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" id="testertransparent" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      <span class="dot me-3"></span>Meet New Friend
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" id="tester4" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      Play with other people and help them on their journey
                    </div>
                  </div>
                </div>
                <div class="accordion-item" id="testertransparent">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" id="testertransparent" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      <span class="dot me-3"></span>Change the world
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      Complete with world-building content and different plots depends on your decision
                    </div>
                  </div>
                </div>
              </div>
            <!--end of accordion-->
          </div>
          
        </div>

      </div>
    </div>
    </div>


<!--slicing 4-->
   <!--bg image-->
  <div
   id="bgimage"
   class="bg-image shadow-2-strong"
   style="background-image: url('/assets/bg4.jpg')"
  >
    <div class="container d-flex align-items-center flex-column justify-content-center text-left h-100">
      <div class="align-self-center my-auto w-100 h-75">
          <div class="row">
            <div class="col-12 text-center" style="color:white">
              Can my computer run this game?
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-6 me-auto">
               <h1 style="font-size:60px;">System RequirementS</h1>
               <table class="table table-bordered border-secondary text-white">
                <tbody style="font-size:1rem;">
                  <tr>
                    <td><h5 style="color:gold;">OS:</h5>Windows 7 64 bit only<br>(No OSX Support at this time) </td>
                    <td><h5 style="color:gold;">Processor:</h5> Intel Core 2 Duo @2.4 GHZ or <br>AMD Athion X2 @2.8 GHZ </td>
                  </tr>
                  <tr>
                    <td><h5 style="color:gold;">Memory:</h5>4 GB RAM</td>
                    <td><h5 style="color:gold;">Storage:</h5>8 GB available space</td>
                  </tr>
                  <tr>
                    <td colspan="2"><h5 style="color:gold;">Graphics:</h5>NVIDIA GeForce GTX 660 2GB or<br> AMD Radeon HD 7850 2GB Directx11 (Shader Model 5)  </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
 </div>


<!--slicing 5-->
   <!--bg image-->
        <div
        id="bgimage"
        class="bg-image shadow-2-strong"
        style="background-image: url('/assets/bg5.jpg')"
        >
        <div class="container d-flex align-items-center flex-column justify-content-center text-left h-100">
          <div class="align-self-center my-auto w-100 h-100 mt-5">
            <div class="row w-100" style="height:80% ;">
              <div class="col-md-4 align-self-center" style="color:white">
                <h4 style="font-size:3rem; ;">TOP SCORES</h4>
                The Top score from various games provided on this platform <br>
                <a id="main-button" class="btn btn-outline-light btn-lg m-2"href=""role="button"rel="nofollow"target="_blank" style="width:15vw">See more</a>
              </div>
              <div class="col-md-6 offset-md-2 align-self-center">
                <div class="row">
                  <div class="col-md-6 offset-md-4">
                    <!--card 1-->
                    <div class="card" style="width: 18rem; background-color:darkslategray;">
                      <div style="color:orange" class="d-flex flex-row">
                        <div>
                         <img src="/assets/card1.jpg" class="card-img-top" style="border-radius: 50%; height:60px; width:60px; box-shadow: 2px 2px gold;" alt="..."> 
                        </div>
                        <div class="me-5 ms-2">
                         Marian Joa
                         <p style="font-size:16px; color:gray">Designer</p>
                        </div>
                        <div class="align-self-center ms-4">
                          <img src="/assets/twittercard.png" style="height:30px;width:30px;">
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="card-text" style="font-size:16px;color:white">"The best scenery ever I ever saw In video game."</div>
                        <div style="color:gray; font-size:16px">June 18,2021</div>
                      </div>
                    </div>
                    <!-- penutup card 1-->
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-md-2">
                    <!--card 2-->
                    <div class="card" style="width: 18rem; background-color:darkslategray;">
                      <div style="color:orange" class="d-flex flex-row">
                        <div>
                         <img src="/assets/card2.jpg" class="card-img-top" style="border-radius: 50%; height:60px; width:60px; box-shadow: 2px 2px gold;" alt="..."> 
                        </div>
                        <div class="me-5 ms-2">
                         Alven Dera
                         <p style="font-size:16px; color:gray">Gamer</p>
                        </div>
                        <div class="align-self-center ms-4">
                          <img src="/assets/twittercard.png" style="height:30px;width:30px;">
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="card-text" style="font-size:16px;color:white">"The playstyle is so fluid."</div>
                        <div style="color:gray; font-size:16px">May 13,2021</div>
                      </div>
                    </div>
                    <!-- penutup card 2-->

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 offset-md-2">
                     <!--card 3-->
                    <div class="card" style="width: 18rem; background-color:darkslategray;">
                      <div style="color:orange" class="d-flex flex-row">
                        <div>
                         <img src="/assets/card3.jpg" class="card-img-top" style="border-radius: 50%; height:60px; width:60px; box-shadow: 2px 2px gold;" alt="..."> 
                        </div>
                        <div class="me-5 ms-2">
                         Gela Ngu
                         <p style="font-size:16px; color:gray">Redditor</p>
                        </div>
                        <div class="align-self-center ms-4">
                          <img src="/assets/twittercard.png" style="height:30px;width:30px;">
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="card-text" style="font-size:16px; color:white">"The raid is really challenging which is rare for casual game"</div>
                        <div style="color:gray; font-size:16px">December 24,2021</div>
                      </div>
                    </div>
                    <!-- penutup card 3-->
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        </div>
 <!--slicing 6-->
    <!--bg image-->
    <div
      id="bgimage"
      class="bg-image shadow-2-strong"
      style="background-image: url('/assets/bg6.jpg')"
    >
      <div class="container d-flex align-items-center flex-column justify-content-center h-100" >
        <div class="row h-50 w-100 my-auto" style="text-align:left; color:white;">
          <div class="col-md-6 offset-md-6">
            <div class="sub-text">Want to stay in touch?</div>
            <h4 style="font-size:3rem;">NEWSLETTER SUBSCRIBE</h4>
            <p>In order to start receiving our news, all you have to do is to enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don't spam.</p>
             <div class="d-flex flex-row"> 
              <div class="form-floating mb-3" style="width:60%">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" style="color:darkorange" value="youremail@binar.co.id">
                <label for="floatingInput" style="color:black">Email address</label>
              </div>
            <div><a id="main-button" class="btn btn-outline-light btn-lg m-2"href=""role="button"rel="nofollow"target="_blank" style="width:100%">Subscribe Now</a>
            </div>
          </div>
          </div>
        </div>
        <div style="width:95%">
            <div class="row" style="text-align:center;">
              <div class="col offset-md-1"><a class="nav-link" href="#" style="color:white; font-size:12px;">Main</a></div>
              <div class="col-md-1"><a class="nav-link" href="#" style="color:white; font-size:12px">About</a></div>
              <div class="col-md-2"><a class="nav-link" href="#" style="color:white; font-size:12px">Game Features</a></div>
              <div class="col-md-2"><a class="nav-link" href="#" style="color:white; font-size:12px">System Requirements</a></div>
              <div class="col-md-1"><a class="nav-link" href="#" style="color:white; font-size:12px">Quotes</a></div>
              <div class="col-md-4">
                <div class="row d-flex flex-row">
                  <div class="col"><a class="nav-link" href="#"><img src="/assets/fb.png" style="height:30px;width:30px;"></a></div>
                  <div class="col"><a class="nav-link" href="#"><img src="/assets/twitter.png" style="height:30px;width:30px;"></a></div>
                  <div class="col"><a class="nav-link" href="#"><img src="/assets/youtube.png" style="height:30px;width:30px;"></a></div>
                  <div class="col"><a class="nav-link" href="#"><img src="/assets/twitch.png" style="height:30px;width:30px;"></a></div>
                </div>
              </div>
              
            </div>
            <div class="row">
              <div class="col">
                <hr>
              </div>
            </div>
            
            <div class="row">
              <div class="col" style="color:gray">
                2018 Your Games inc. All Rights Reserved
              </div>
              <div class="col" style="color:white; text-align: right;">
                <a href="" style="color:white; text-decoration:none">PRIVACY POLICY</a> | <a href="" style="color:white; text-decoration:none">TERMS OF SERVICES</a> | <a href="" style="color:white; text-decoration:none">CODE OF CONDUCT</a>
              </div> 
            </div>
            

        </div>
      </div>
    
    
    </div>





    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="/scripts/myScript.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>

