<h1>Login Page</h1>
<form action="/login" method="POST">
    <label for="username">Username</label>
    <br>
    <input type="text" name="username" placeholder="Enter Username">
    <br>

    <label for="password">Password</label>
    <br>
    <input type="password" name="password" placeholder="Enter Password">
    <br>

    <button type="submit">Sign in</button>
</form>

<form action="/" method="GET">
    <button type="submit">Back to Main Page</button>
</form>